@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* COLORS */
    --background: #121212;
    --card: #1c1917;
    --dark-gray: #262626;
    --light-gray: #a19ca0;
    --primary: #e11d48;
    --secondary: #ee275a;
    --text: #f2f2f2;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  color: var(--text);
  height: 300vh;
  overflow-x: hidden;
  background: var(--background);
  cursor: url(./kb_cursor.svg), auto;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.ff-lexend {
    font-family: "Lexend", sans-serif;
}

.ff-cal {
    font-family: "Cal Sans", sans-serif;
}

.ff-raleway {
    font-family: "Raleway", sans-serif;
}

.container {
  padding-inline: 15rem;

    @media(width < 1000px) {
      padding-inline: 2rem;
    }

    @media(width < 786px) {
      padding-inline: 1rem;
    }
}

nav {
    position: sticky;
    background-color: #1c19177d;
    inset: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--dark-gray);
    z-index: 1000;
}

.logo a {
  text-decoration: none;
  color: var(--text);

  display: flex;
  align-items: center;
  gap: .5rem;

  transition: all 300ms ease;
}

.logo a:hover {
  color: var(--secondary);
}

.logo a img {
  width: 24px;
}

.navigation-list {
  display: block;

  @media (width < 1000px) {
    display: none !important;
  }
}

.navigation-list ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navigation-list ul a {
  transition: all 300ms ease;
  position: relative;
}

.navigation-list ul a:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  top: -30px;
  background: var(--secondary);
}

.navigation-list ul a:hover {
  color: var(--primary);
}

.mobile-toggle {
  display: none;

  @media (width < 1000px) {
    display: block;
  }
}

.mobile-toggle button {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-nav {
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1001;
  display: none;
}

.mobile-nav button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.mobile-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: #0f0f0fdd;
  backdrop-filter: blur(10px);
  border: 1px solid #ee275a;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding-inline: 0;
  padding-block-start: 3rem;
}

.visually-hidden {
  display: none;
}

.visually-visible {
  display: block;
}

/* BLOB */

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: rgb(0, 0, 0);
  z-index: 1;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--secondary), var(--dark-gray));
  animation: rotate 20s infinite;
  opacity: 0.2;
  filter: blur(100px);
}

/************/

.hero {
  /*  background-color: var(--background); */
  height: calc(100vh - 50px);
  padding-block: 3rem;
  gap: 2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (width < 1500px) {
    grid-template-columns: 1fr;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: 2;
  @media (width < 1500px) {
    align-items: center;
  }
}

.hero-text h1 {
  font-size: 5rem;

  @media (width < 1000px) {
    font-size: 3.5rem;
  }
}

.hero-text h2 {
  font-size: 2.5rem;

  @media (width < 1000px) {
    font-size: 1.5rem;
  }
}

.hero-photo__image {
  position: relative;
  width: 75%;
  place-self: center;

  z-index: 2;

  @media (width < 1500px) {
    width: 60%;
  }
}

/* FEATURED */

.featured {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 4rem;
}

/* .featured img {
  width: 100%;
  filter: grayscale(1);
  border-radius: 1rem;
  border: 1px solid var(--secondary);

  transition: all 300ms ease;
}

.featured img:hover {
  scale: 1.5;
  filter: grayscale(0);
  border-radius: 0;
  z-index: 1000;

  @media (width < 1000px) {
    scale: 1;  
  }
} */

/* ******************* PHOTOS ****************** */

#image-track {
  display: flex;
  gap: 2vmin;
  position: absolute;
  left: 15rem;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  filter: grayscale(1);
  border-radius: 8px;
  
  transition: all 300ms ease;
}

#image-track > .image:hover {
    filter: grayscale(0);
}

.mobile-off {
    display: block;

    @media (width < 1000px) {
        display: none;
    }
}

.mobile-on {
    display: none;

    @media (width < 1000px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

.mobile-image {
    border-radius: 8px;
}

/*************************************************/

.section-header h1 {
  position: relative;
}

.section-header h1::before {
  content: url('./featured_icon.svg');
  position: absolute;
  left: -45px;
  top: 7px;
  opacity: 0;

  transition: all 300ms ease;
}

.section-header h1:hover::before {
  opacity: 1;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (width < 1000px) {
    grid-template-columns: 1fr;
  }
}
